body {
    font-family: 'Barlow', sans-serif;
    background-color: #eef2f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
    border: none;
    /* background-color: #d1d5db;
    box-shadow: 0px 20px 20px 20px rgba(0, 0, 0, 0.1); */
}

header h1 {
    font-size: 3rem;
    padding: 5px;
}

header p {
    margin: 10px;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: -5px 10px 10px 4px rgba(0, 0, 0, 0.1);
}

.game {
    display: flex;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    cursor: pointer;
    /* transition: background-color 0.3s; */

    --b: 1px;
    /* border thickness */
    --s: .2em;
    /* size of the corner */
    --color: #d1d5db;

    padding: calc(.1em + var(--s)) calc(.1em + var(--s));
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s ease-in, color 0.2s, background-color 0.2s;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.cell:hover {
    background-color: #f0f1f3;
}

.player-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    width: 100px;
    margin: 20px;
    padding: 10px;
}

.player-score-container {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 4rem;

}

.button-container {
    display: flex;
    margin: 30px;
    justify-content: space-evenly;
    /* gap: 30px; */
}

.button-container>p {
    /* border: 1px solid red; */
    align-self: center;
    padding-top: 10px;
    margin-inline: 5px;
}

.game-button {
    margin-inline: 20px;
    padding: 10px 25px;
    border: 0.5px solid #d1d5db;
    background-color: transparent;
    color: #333;
    font-family: inherit;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 20px;
    transition: transform 0.3s;
    box-shadow: -3px 3px 5px 2px rgba(0, 0, 0, 0.1);
}

.game-button:hover {
    /* background-color: #d1d5db; */
    /* color: #fff; */
    transform: scale(1.03);
}

footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
    /* background-color: #d1d5db;
    box-shadow: 0px -10px 10px 4px rgba(0, 0, 0, 0.1); */
}

footer p {
    padding-block: 12px;
}

footer>p:first-child {
    color: #8c8c8c;

}

footer>a:link {
    text-decoration: none;
    color: #f7fcff;
}

footer>a:hover {
    text-decoration: none;
    color: #8c8c8c;
}

/* Styling for the X symbol */
.x::before,
.x::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 70px;
    /* Adjust this value to fit the cell size */
    background-color: #333;
    /* Color of the X */
    transform-origin: center;
    box-shadow: -2px 5px 3px 0px rgba(0, 0, 0, 0.2);

}

.x::before {
    transform: rotate(45deg);
}

.x::after {
    transform: rotate(-45deg);
}

/* Styling for the O symbol */
.o::before,
.o::after {
    content: "";
    position: absolute;
    width: 60px;
    /* Adjust this value to fit the cell size */
    height: 60px;
    /* background-color: transparent; */
    /* Color of the O */
    border-radius: 50px;
    /* Rounded edges for a circular appearance */
    border: 3px solid #333;
    box-shadow: -2px 5px 3px 0px rgba(0, 0, 0, 0.1);
}