body {
    font-family: 'Barlow', sans-serif;
    background-color: #eef2f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
    border: none;
}

header h1 {
    font-size: 3rem;
    padding: 5px;
}

header p {
    margin: 10px;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: -5px 10px 10px 4px rgba(0, 0, 0, 0.1);
}

.winner {
    height: 27.2px;
    margin-bottom: 20px;
}

.winner p {
    font-size: 1.7rem;
}

.game {
    display: flex;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    cursor: pointer;

    --b: 1px;
    /* border thickness */
    --s: .2em;
    /* size of the corner */
    --color: #d1d5db;

    padding: calc(.1em + var(--s)) calc(.1em + var(--s));
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0.2s, background-color 0.2s;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.cell:hover {
    transform: scale(1.03);
    /* box-shadow: -3px 3px 5px 2px rgba(0, 0, 0, 0.1); */
}

.player-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    margin: 20px;
    padding: 10px;
}



.player-score-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 4rem;

}

.button-container {
    display: flex;
    margin: 30px;
    justify-content: space-evenly;
}

.button-container>p {
    align-self: center;
    margin-inline: 5px;
    font-family: inherit;
    font-size: 30px;
    color: #333;
}

.game-button {
    margin-inline: 20px;
    padding: 10px 25px;
    border: 0.5px solid #d1d5db;
    background-color: transparent;
    color: #333;
    font-family: inherit;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 20px;
    transition: transform 0.3s;
}

.game-button:hover {
    box-shadow: -3px 3px 5px 2px rgba(0, 0, 0, 0.1);
    transform: scale(1.03);
}

footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
}

footer p {
    padding-block: 12px;
}

footer>p:first-child {
    color: #8c8c8c;
}

footer>a:link {
    text-decoration: none;
    color: #f7fcff;
}

footer>a:hover {
    text-decoration: none;
    color: #8c8c8c;
}

/* Styling for the X symbol */
.x::before,
.x::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 70px;
    background-color: #333;
    transform-origin: center;
    box-shadow: -2px 5px 3px 0px rgba(0, 0, 0, 0.2);
}

.x::before {
    transform: rotate(45deg);
}

.x::after {
    transform: rotate(-45deg);
}

/* Styling for the O symbol */
.o::before,
.o::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 3px solid #333;
    box-shadow: -2px 5px 3px 0px rgba(0, 0, 0, 0.1);
}

/* Styling for the X symbol for player */
#symbol-x,
#symbol-o {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    width: 100px;
    height: 100px;
}

.symbolX::before,
.symbolX::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 70px;
    background-color: #333;
    transform-origin: center;
    box-shadow: -2px 5px 3px 0px rgba(0, 0, 0, 0.2);
}

.symbolX::before {
    transform: rotate(45deg);
}

.symbolX::after {
    transform: rotate(-45deg);
}

/* Styling for the O symbol */
.symbolO::before,
.symbolO::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 3px solid #333;
    box-shadow: -2px 5px 3px 0px rgba(0, 0, 0, 0.1);
}

.line-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    height: 40%;
}

.line {
    border: 0.1px solid rgba(0, 0, 0, 0.3);
}

.line-dotted {
    border: 0.1px dotted rgba(0, 0, 0, 0.3)
}

.rhombus {
    width: 7px;
    height: 7px;
    border: 0.1px solid rgba(0, 0, 0, 0.3);
    transform-origin: center;
    transform: rotate(45deg);
}